body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}

.header { 
    text-align: center;
    padding: 5px;
    color: yellow;
    background: linear-gradient(90deg, rgb(50, 50, 255,1) 0%, rgba(0,155,0,1) 50%, rgba(255,255,0,1) 100%);
    width: 100%;
}

nav {
display: inline-block;
background: linear-gradient(90deg, rgb(50, 50, 255,1) 0%, rgba(0,155,0,1) 50%, rgba(255,255,0,1) 100%);
width: 100%;
}

.navbar-item {
   background-color: yellow;
   font-size: 18px;
   margin: 0 5px;  
}
.navbar{
    background-color: blue;
    font-size: 18px;
    color: yellow;
    margin-left: 95%;
}
.button {
    display: flex;
    text-decoration: none;
}

a{
    text-decoration: none
}

h1{
    font-size: 50px;
}
.gh{
    margin-left: 5%;
    font-weight: 700;
    font-size: 34px;
    letter-spacing: 2px;
    margin-bottom: 24px;
    margin-top: 32px;
}
.search{
    border-radius: 9px;
    width: 50%;
}
.deliver{
    margin-left: 80%;   
    background-color: blue;
    color: yellow;
    font-size: 17px;
}
.bh{
    display: flex;
}


